Temp
/.vs/uMMORPG/v15/*.suo
*.csproj
Library
obj
/*.sln
.vs
/*.csproj
Builds
/Database.sqlite
/JenkinsBuild.bat
/UnityPackageManager
/Packages

\.vscode/settings\.json

Assets/Mirror/
Assets/Mirror\.meta

Assets/Ignorance/
Assets/Ignorance\.meta
