Temp
/.vs/uMMORPG/v15/*.suo
*.csproj
Library
obj
/*.sln
.vs
/*.csproj
Builds
/Database.sqlite
/JenkinsBuild.bat
/UnityPackageManager
/Packages
/ProjectSettings

Assets/Plugins/Mirror/

Assets/Plugins/Mirror\.meta

\.vscode/settings\.json
